.Snb {
  position: fixed;
  top: 100;
  right: 100;
  bottom: 0;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
  padding: 20px;
}

.Snb.active {
  transform: translateX(0%);
}
